	/*
  	Flaticon icon font: Flaticon
  	Creation date: 23/09/2017 07:10
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticond41d.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-globe:before { content: "\f100"; }
.flaticon-message:before { content: "\f101"; }
.flaticon-technology:before { content: "\f102"; }
.flaticon-gps-1:before { content: "\f103"; }
.flaticon-gps:before { content: "\f104"; }
.flaticon-left-quote:before { content: "\f105"; }
.flaticon-boy-broad-smile:before { content: "\f106"; }
.flaticon-vacuum-cleaner:before { content: "\f107"; }
.flaticon-time-1:before { content: "\f108"; }
.flaticon-time:before { content: "\f109"; }
.flaticon-phone-call:before { content: "\f10a"; }
.flaticon-wash:before { content: "\f100"; }