
/* Css Sharpes  */

/************ TABLE OF CONTENTS ***************
1. Fonts
2. Reset
3. Global
4. Main Header
5. Main Slider
6. About Section
7. Cta Section
9. Service Section
8. We-work Section
10. Pricing Section
11. Testimonials Section
12. News Section
14. Main Footer
15. Footer Bottom
16. Page title
19. Our-team section
20. Testimonial page
21. Faq page
22. Error page
23. Service Page
24. Service Details
25. Sidebar Section
26. Service Details content
27. Gallery page
28. Team page
29. Team Details page
30. Tema Details content
31. Shop Section
32. Sidebar Shop
33. Single Shop section
34. Cart page
35. Checkout page
36. Blog Classic
37. Blog Single
38. Google map area
39. Contact info 
40. Contact form area


**********************************************/


/* use font link */

@import url('https://fonts.googleapis.com/css?family=Dancing+Script:400,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

/* use style sheet */

@import url(font-awesome.css);
@import url(flaticon.css);
@import url(animate.css);
@import url(owl.css);
@import url(bootstrap.css);
@import url(bootstrap.min.css);
@import url(jquery-ui.css);
@import url(jquery.fancybox.css);
@import url(hover.css);
@import url(nouislider.css);
@import url(bootstrap-select.min.css);
@import url(jquery.bootstrap-touchspin.css);

@font-face {
  font-family: DIN;
  src: url(../fonts/DIN.otf);
}


/*** 

====================================================================
  Reset
====================================================================

 ***/
* {
  margin:0px;
  padding:0px;
  border:none;
  outline:none;
}


/*** 

====================================================================
  Global Settings
====================================================================

 ***/


body {
  font-size:14px;
  color:#666666;
  line-height:26px;
  font-weight:400;
  background:#ffffff;
  font-family: 'DIN', DIN;
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center top;
  -webkit-font-smoothing: antialiased;
}

@media (min-width:1200px) {
  .container {
    padding: 0px 0px;
  }
}
.centred{
  text-align: center;
}


a{
  text-decoration:none;
  position: relative;
  font-size: 14px;
  font-family: 'DIN', DIN;
  line-height: 25px;
  cursor:pointer;
  color:#666666;
  transition: all 500ms ease;
}

a:hover{
  text-decoration:none;
  outline:none;
  color: #4EA3D7;
  transition: all 500ms ease;
}


input,button,select,textarea{
  font-family: 'DIN', DIN;
}

.strike-through{
  text-decoration:line-through; 
}

.auto-container{
  position:static;
  max-width:1200px;
  padding:0px 15px;
  margin:0 auto;
}
.boxed_wrapper{
  position: relative;
  overflow-x: hidden;
  margin: 0 auto;
  width: 100%;
  min-width: 300px;
}
.small-container{
  max-width:680px;
  margin:0 auto;
}

ul,li{
  list-style:none;
  padding:0px;
  margin:0px; 
}
.centered{
  text-align:center;  
}
.sec-pad{
  padding: 92px 0px 100px 0px;
}

p{
  position: relative;
  font-size: 16px;
  font-family: 'DIN', DIN;
  line-height: 26px;
  font-weight: 400;
  color: #666666;
  margin-bottom: 10px;
  transition: all 500ms ease;
}

h1,h2,h3,h4,h5,h6 {
  position:relative;
  font-family: 'DIN', DIN;
  font-weight: 400;
  margin-bottom: 10px;
  color: #222;
  margin-top: 0px;
}
h1 a,h2 a,h3 a,h4 a,h5 a,h6 a {
  position:relative;
  font-family: 'DIN', DIN;
  font-weight: 400;
  margin-bottom: 0px;
  color: #222;
  margin-top: 0px;
  transition: all 500ms ease;
}

h1{
  font-size: 50px;
  line-height: 66px;
  font-weight: 700;
  color: #fff;
}


h2{
  font-size: 40px;
  line-height: 45px;
}

h3{
  font-size: 24px;
  line-height: 30px;
}

h4{
  font-size: 20px;
  line-height: 30px;
}

h5{
  font-size: 16px;
  line-height: 26px;
  font-family: 'DIN', DIN;
} 

h6{
  font-size: 15px;
  line-height: 26px;
} 

h3 a{
  font-size: 24px;
  line-height: 33px;
}

h4 a{
  font-size: 20px;
  line-height: 30px;
}

h5 a{
  font-size: 16px;
  line-height: 20px;
}

h6 a{
  font-size: 15px;
  line-height: 26px;
}

h3 a:hover,
h4 a:hover,
h5 a:hover{
  color: #4EA3D7;
  transition: all 500ms ease;
}

.preloader{position: fixed; right:0px;top:0px;height:100%;width: 100%;z-index:999999;background-color:#ffffff;background-position:center center;background-repeat:no-repeat;background-image:url(../site/images/icons/preloader.gif);}

/** button **/

.btn-one {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  background: #4EA3D7;
  border: 2px solid #4EA3D7;
  padding: 13px 40px 13px 40px;
  font-family: 'DIN', DIN;
  position: relative;
  transition: all 900ms ease;
  cursor: pointer;
  border-radius: 50px;
  display: inline-block;
  text-align: center;
  z-index: 1;
}
.btn-one:hover{
  color: #4EA3D7;
  background: transparent;
  border: 2px solid #4EA3D7;
  transition: all 900ms ease;
}

.btn-two {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  background: transparent;
  padding: 13px 40px 13px 40px;
  font-family: 'DIN', DIN;
  position: relative;
  border: 2px solid #fff;
  transition: all 900ms ease;
  border-radius: 50px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  z-index: 1;
  border: 2px solid #fff;
}
.btn-two:hover{
  color: #fff;
  background: #4EA3D7;
  border: 2px solid #4EA3D7;
  transition: all 900ms ease;
}

.page-pagination{
  position: relative;
  padding: 0px;
  margin: 0px;
}
.page-pagination li{
  display: inline-block;
  margin: 0px 3px;
}
.page-pagination li a{
  position: relative;
  display: inline-block;
  font-size: 18px;
  font-family: 'DIN', DIN;
  color: #848484;
  font-weight: 600;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  line-height: 55px;
  text-align: center;
  transition: all 500ms ease;
}
.page-pagination li a:hover,
.page-pagination li a.active{
  background: #4EA3D7;
  color: #fff;
  transition: all 500ms ease;
}

.sec-title h2{
  position: relative;
  font-size: 30px;
  line-height: 48px;
  font-weight: 600;
  margin-bottom: 23px;
}

.title-top{
  position: relative;
  font-size: 30px;
  font-family: 'DIN', DIN;
  line-height: 43px;
  color: #4EA3D7;
  font-weight: 700;
  margin-bottom: 9px;
}


/*** 

====================================================================
  Scroll To Top style
====================================================================


***/
.scroll-to-top span{
  color: #fff;
}
.scroll-to-top{
  position:fixed;
  bottom:15px;
  left:15px;
  font-size:18px;
  line-height:53px;
  width:55px;
  height:55px;
  background: #4EA3D7;
  text-align:center;
  z-index:100;
  cursor:pointer;
  display:none;
  border-radius: 50%;
  transition:all 500ms ease;
  -moz-transition:all 500ms ease;
  -webkit-transition:all 500ms ease;
  -ms-transition:all 500ms ease;
  -o-transition:all 500ms ease;
}
.scroll-to-top:hover{
  background: #222;
}
.scroll-to-top:after {
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  right: 5%;
  height: 10px;
  width: 90%;
  opacity: 1;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0) 80%);
  background: -webkit-radial-gradient(center ellipse, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0) 80%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0) 80%);
}


/*=============== Style switcher =============*/

.switcher .switch_btn button {
  width:40px;
  height:40px;
  line-height: 40px;
  border:none;
  background: #4EA3D7;
  color:#fff;
  font-size: 18px;
}
.switcher .switch_btn {
  position: absolute;
  right: -40px;
  z-index: -1;
}
.switcher {
  position: fixed;
  top:400px;
  z-index: 999999;
}

.switcher .switch_menu {
  width:280px;
  background: #fff;
  display: none;
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.15);
  position: relative;
  padding-bottom: 15px;
  text-align: center;
/*  height: 300px;
  overflow: hidden;
  overflow-y: scroll;*/
}
.switcher .switch_menu .switcher_container {
  width:270px;
  margin:0 auto;
}
.switcher .switch_menu h5.title {
  color:#fff;
  margin:0;
  line-height: 60px;
  background: #272727;
  text-align: center;
  margin-bottom: 20px;
  font-family: 'DIN', DIN;
  font-size:18px;
  font-weight: 700;
  text-transform: uppercase;
}
.switcher .switch_menu .switcher_container h5 {
  text-align: center;
  color:#272727;
   font-family: 'DIN', DIN;
  font-size:16px;
  font-weight: 700;
}
.switcher .switch_menu .switcher_container .text{
  font-size: 13px;
}
.switcher .box_bg h5 {
  font-size: 20px;
}
.switcher .box_bg {
  text-align: center;
  margin-top: 15px;
  padding-bottom: 27px;
  padding-top:1px;
  border-bottom:1px solid #f7f7f7;
  margin-bottom: 12px;
}
.switcher .box_bg .layout_bg {
  width:63px;
  height:63px;
  border:2px solid #eaeaea;
  display: inline-block;
  cursor: pointer;
  margin-left:2px;
  margin-top: 5px;
}
.switcher .box_bg .layout_bg:last-child {
  margin-left:0;
}
.switcher #styleOptions {
  padding:7px 0;
}
.switcher #styleOptions li {
  display: inline-block;
  width:40px;
  height:40px;
  margin-left:2px;
}
.switcher #styleOptions li:last-child {
  margin-left:0;
}
.switcher #styleOptions li a {
  display: block;
  width:100%;
  height:100%;
}
.switcher #styleOptions li a.color2 {
  background: url(../site/images/home/color1.jpg) no-repeat center;
}
.switcher #styleOptions li a.color3 {
  background: url(../site/images/home/color2.jpg) no-repeat center;
}
.switcher #styleOptions li a.color4 {
  background: url(../site/images/home/color3.jpg) no-repeat center;
}
.switcher #styleOptions li a.color5 {
  background: url(../site/images/home/color4.jpg) no-repeat center;
}
.switcher #styleOptions li a.color6 {
  background: url(../site/images/home/color5.jpg) no-repeat center;
}
.switcher .switch_menu>p {
  font-family: 'DIN', DIN;
  font-weight: 700;
  font-size: 15px;
  background: #1a8bb3;
  color:#fff;
  padding: 18px 18px 20px 18px;
}


/*** 

====================================================================
                        Home-Page
====================================================================

***/

/** main header area **/


.main-header{
  position:relative;
  right:0px;
  top:0px;
  z-index:999;
  width:100%;
}
.header-lower{
  background: #fff;
  width: 100%;
  z-index:999;
  opacity:1;
  visibility:visible;
  transition:all 500ms ease;
  -moz-transition:all 500ms ease;
  -webkit-transition:all 500ms ease;
  -ms-transition:all 500ms ease;
  -o-transition:all 500ms ease;
}
.logo-box{
  background: url(../site/images/logo/logo1.png) no-repeat 91% 100%;
  height: 54px;
  margin-top: 28px;
  margin-right: -10px;
}
.logo-box a {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.main-header .info-box{
  position: relative;
  display: inline-block;
}
.main-header .menu-bar{
  position: relative;
  float: left;
	direction: rtl;
  left: 2px;
}

.main-menu{
  position:relative;
  display: inline-block;
}

.main-menu .navbar-collapse{
  padding:0px;  
}

.main-menu .navigation{
  position:relative;
  margin:0px;
}

.main-menu .navigation > li{
  position:relative;
  display: inline-block;
  margin-right: 31px;
}


.main-menu .navigation > li > a > i:before{
  margin-left: 5px;
  font-size: 16px;
}
.main-menu .navigation > li > a{
  position:relative;
  display:block;
  font-size:14px;
  font-weight: 600;
  color: #7d7e7e;
  line-height: 26px;
  padding: 41px 12px 43px 0px;
  font-family: 'DIN', DIN;
  opacity:1;
  -webkit-transition:all 500ms ease;
}

.main-menu .navigation > li:hover > a,.main-menu .navigation > li.current > a,
.main-menu .navbar-collapse > ul li.dropdown:hover .dropdown-btn span:before,
.main-menu .navbar-collapse > ul li.dropdown.current .dropdown-btn span:before{
  color: #4EA3D7;
  transition: all 500ms ease;
}

.main-menu .navigation > li:hover > a:after{
  opacity:1;
}

.main-menu .navigation > li > ul{
  position:absolute;
  right:0px;
  top:100%;
  width:220px;
  padding:0px;
  z-index:100;
  display:none;
  background:#fff;
  border-top:3px solid #4EA3D7;
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.15);
}
.main-menu .navigation > li > ul > li{
  position:relative;
  width:100%;
}
.main-menu .navigation > li > ul > li:last-child{
  border-bottom:none; 
}

.main-menu .navigation > li > ul > li > a{
  position:relative;
  display:block;
  padding:10px 15px;
  line-height:28px;
  font-weight:600;
  font-size:14px;
  font-family: 'DIN', DIN;
  text-transform:capitalize;
  color: #7d7e7e;
  border-bottom: 1px dashed #4EA3D7;
  transition:all 500ms ease;
  -moz-transition:all 500ms ease;
  -webkit-transition:all 500ms ease;
  -ms-transition:all 500ms ease;
  -o-transition:all 500ms ease;
}
.main-menu .navigation > li > ul > li:last-child >a{
  border-bottom: none;
}

.main-menu .navigation > li > ul > li:hover > a{
  color: #4EA3D7;
  padding:10px 17px 10px 15px;
  transition:all 500ms ease;
}

.main-menu .navigation > li > ul > li.dropdown:hover > a:after{
  color:#ffffff;
  transition:all 500ms ease;  
}

.main-menu .navigation > li.dropdown:hover > ul{
  visibility:visible;
  opacity:1;
  top:100%;  
}

.main-menu li.dropdown:before{
  position: absolute;
  content: "\f107";
  font-family: 'FontAwesome';
  top: 40px;
  left: -15px;
  cursor: pointer;
  color: #7d7e7e;
  font-size: 17px;
  transition: all 500ms ease;
}
.main-menu li.dropdown:hover:before,
.main-menu li.current.dropdown:before{
  color: #4EA3D7;
}

.main-header .cart-box{
  position: relative;
  display: inline-block;
  margin-right: 57px;
}
.main-header .cart-box:before{
  position: absolute;
  content: '';
  background: #e5e5e5;
  width: 1px;
  height: 30px;
  top: -2px;
  right: -32px;
}
.main-header .cart-box a{
  position: relative;
  font-size: 17px;
  line-height: 26px;
  color: #222;
  font-family: 'DIN', DIN;
}
.main-header .cart-box a:hover{
  color: #4EA3D7;
}
.main-header .cart-box a i:before{
  color: #4EA3D7;
  margin-left: 11px;
}


/*========= mobile-menu ==============*/

.mobile-menu .dropdown-btn {
  position: absolute;
  left: 3px;
  top: 0;
  width: 35px;
  height: 43px;

  cursor: pointer;
  display: block;
  z-index: 5;
}
.mobile-menu .dropdown-btn:after {
  position: absolute;
  content: "\f107";
  font-family: FontAwesome;
  color: #fff;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  width: 100%;
}

.mobile-menu,
.mobile-menu > li > ul,
.mobile-menu > li > ul > li > ul{
  background: #4EA3D7;
}

.mobile-menu > li > ul,
.mobile-menu > li > ul > li > ul{
  display: none;
}

.mobile-menu > li > a,
.mobile-menu > li > ul > li > a,
.mobile-menu > li > ul > li > ul > li > a{
  padding:10px 20px;
  font-family: 'DIN', DIN;
  line-height:22px;
  color:#ffffff;
  display: block;
  text-transform: uppercase;
  font-size: 14px;
  border-top: 1px solid #fff;
}


/* Mainmenu fixed style */
@keyframes menu_sticky {
  0%   {margin-top:-100px;}
  50%  {margin-top: -90px;}
  100% {margin-top: 0;}
}
.theme_menu.stricky-fixed {
  margin: 0;
  position: fixed;
  background: #fff;
  top:0;
  right:0;
  width: 100%;
  z-index: 99999;
  animation-name: menu_sticky;
  animation-duration: 0.60s;
  animation-timing-function: ease-out;
  box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.49);
}


/** main slider **/

.main-slider {
  position: relative;
  min-height: 100%;
}
.main-slider:before{
  position: absolute;
  content: '';
  background: url(../site/images/slider/bg1.png);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  right: 0px;
  top: 0px;
}
.main-slider:after{
  position: absolute;
  content: '';
  background: url(../site/images/slider/bg.png);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  left: 0px;
  top: 0px;
}
.main-slider .container-fluid {
  padding: 0px;
}
.main-slider .slider-wrapper {
  position: relative;
}
.main-slider .slider-wrapper .image img {
  min-height: 750px;
  width: 100%;
  max-width: none;
}
.main-slider .slider-caption {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -48px;
  z-index: 5;
}
.main-slider .slider-caption .inner-box {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}
.main-slider .slide-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.0);
  z-index: 3;
}
.main-slider .tp-title{
  position: relative;
  font-size: 36px;
  font-family: 'DIN', DIN;
  line-height: 45px;
  color: #fff;
  font-weight: 700;
  margin-bottom: 22px;
}
.main-slider h1{
  margin-bottom: 42px;
}
.main-slider .btn-one{
  margin-left: 17px;
}

/* slide nav */

.slide-nav .owl-nav {
  padding: 0px;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  right: 0;
  left: 0;
  opacity: 0;
  transform: scale(0.97);
  transition: .5s ease;
}
.slide-nav:hover .owl-nav {
  transform: scale(1);
  opacity: 1;
}
.slide-nav .owl-nav .owl-next,
.slide-nav .owl-nav .owl-prev {
  position: relative;
  width: 55px;
  height: 55px;
  line-height: 53px;
  background:  transparent;
  text-align: center;
  border: 2px solid rgba(255, 255, 255, 0.70);
  font-size: 14px;
  color: #ffffff;
  cursor: pointer;
  transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
}
.slide-nav .owl-nav .owl-next:hover,
.slide-nav .owl-nav .owl-prev:hover{
  background: #4EA3D7;
  border: 2px solid #4EA3D7;
}
.slide-nav .carousel-outer:hover .owl-nav .owl-next,
.slide-nav .carousel-outer:hover .owl-nav .owl-prev {
  opacity: 1;
  visibility: visible;
}
.slide-nav .owl-nav .owl-prev {
  left: 50px;
  float:  left;
}
.slide-nav .owl-nav .owl-next {
  right: 50px;
  float:  right;
}

.slide-nav .owl-dots{
  display: none !important;
}

/* slide animation */
.main-slider .owl-item .slider-caption * {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
	text-align: right;
}

.main-slider .owl-item.active .slider-caption .tp-title {
  -webkit-animation-delay: .5s;
  animation-delay: .5s;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

.main-slider .owl-item.active .slider-caption h1 {
  -webkit-animation-delay: .5s;
  animation-delay: .5s;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.main-slider .owl-item.active .slider-caption .tp-btn {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}


/** about section **/

.about-section{
  position: relative;
  padding: 120px 0px 120px 0px;
}
.about-section .img-box{
  position: relative;
  margin-right: 60px;
  margin-left: 20px;
  box-shadow: 0px 0 20px 10px #eee;
}
.about-section .img-box:before{
  position: absolute;
  content: '';
  background: url(../site/images/about/about-shap.png);
  width: 420px;
  height: 406px;
     left: -55px;
  bottom: -60px;
  background-size: cover;
  background-repeat: no-repeat;
}
.about-section .img-box img{
  position: relative;
  width: 100%;
  z-index: 1;
}
.about-section .about-content{
  position: relative;
  margin-top: 41px;
  margin-right: 22px;
}
.about-section .about-content p{
  margin-bottom: 32px;
}


/** cta-section **/

.cta-section{
  position: relative;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 210px 0px 210px 0px;
}
.cta-section:before{
  position: absolute;
  content: '';
  background: url(../site/images/shap/cta.png);
  width: 100%;
  height: 100%;
  right: 0px;
  top: 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: -1;
}
.cta-section p{
  color: #fff;
}
.video-gallery {
  position: relative;
  display: inline-block;
  margin-right: 7px;
}
.video-area{
  position: relative;
  display: inline-block;
}
.cta-section .button{
  display: inline-block;
}
.cta-section .cta-content{
  position: relative;
  margin-left: 55px;
}
.cta-section h1{
  margin-bottom: 20px;
}
.cta-section p{
  margin-bottom: 36px;
}
.cta-section .btn-one{
  padding: 21px 49px 20px 49px;
}
.video-gallery .icon-holder .icon a{
  position: relative;
  display: inline-block;
  font-size: 20px;
  color: #4EA3D7;
  width: 70px;
  height: 70px;
  line-height: 70px;
  background: #fff;
  border-radius: 50%;
  text-align: center;
  transform: scale(1.0);
  transition: all 500ms ease;
}
.video-gallery .icon-holder .icon a:hover{
  transform: scale(1.1);
}


/** service-section **/


.service-section{
  position: relative;
  padding: 85px 0px 55px 0px;
}
.single-item-overlay{
  position: relative;
  margin-bottom: 25px;
}
.service-section .single-item-overlay .img-box{
  position: relative;
  overflow: hidden;
}
.service-section .single-item-overlay .img-box:before{
  position: absolute;
  content: '';
  background: url(../site/images/service/shap.png);
  width: 100%;
  height: 44px;
  right: 0px;
  bottom: -1px;
  z-index: 1;
  transition: all 900ms ease;
}
.service-section .single-item:hover .img-box:before{
  bottom: -45px;
  transition: all 900ms ease;
}
.single-item-overlay .img-box img {
  width: 100%;
}

.single-item-overlay .img-box .overlay {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  background: rgba(62, 206, 190, 0.6);
  width: 100%;
  transform: scale(0.7,0);
  transition: .5s ease-in-out;
}
.single-item:hover .img-box .overlay {
  transform: scale(1,1);
  transition: .5s ease-in-out;
}

.single-item-overlay .inner-box {
    display: table;
    width: 100%;
    height: 100%;
    text-align: center;
}
.single-item-overlay .content {
    display: table-cell;
    vertical-align: middle;
    position: relative;
    top: -20%;
    transition: .2s cubic-bezier(0.4, 0, 1, 1);
}
.single-item:hover .content {
  top: 0;
  transition: .5s cubic-bezier(0.4, 0, 1, 1);
  transition-delay: .3s;
}
.single-item-overlay .content li a {
  color: #222;
  display: inline-block;
  font-size: 16px;
  background: #fff;
  width: 46px;
  height: 46px;
  text-align: center;
  border-radius: 50%;
  line-height: 46px;
}
.single-item-overlay .content li a:hover{
  color: #4EA3D7;
}
.service-section .text{
  font-size: 15px;
}
.service-section .single-item{
  margin-bottom: 42px;
}
.service-section .sec-title h2{
  margin-bottom: 40px;
}
.service-section .single-item h3{
  margin-bottom: 9px;
}


/** we-work **/

.we-work{
  position: relative;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 210px 0px 215px 0px;
}
.we-work:before{
  position: absolute;
  content: '';
  background: url(../site/images/shap/work.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  right: 0px;
  top: 0px;
  background-position: center center;
  z-index: -1;
}

.we-work .sec-title h2{
  color: #fff;
}
.we-work .single-item{
  position: relative;
  display: inline-block;
  z-index: 1;
}
.we-work .single-item .icon-box{
  position: relative;
  width: 160px;
  height: 160px;
  line-height: 160px;
  text-align: center;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0px 10px #e3e3e3;
  margin-bottom: 30px;
  transition: all 500ms ease;
}
.we-work .single-item:hover .icon-box{
  box-shadow: 0 0 0 10px rgba(62, 206, 190, 0.50);
}
.we-work .single-item:hover .icon-box .number{
  box-shadow: 0 0 0px 6px #e3e3e3;
}
.we-work .single-item .icon-box i:before{
  font-size: 52px;
  color: #222;
  margin: 0px;
}
.we-work .single-item .icon-box .number{
  position: absolute;
  top: 3px;
  left: -31px;
  width: 48px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  background: #fff;
  border-radius: 50%;
  color: #222;
  font-size: 22px;
  font-weight: 600;
  box-shadow: 0 0 0 6px rgb(51, 161, 217);;
  transition: all 500ms ease;
}
.we-work .single-item .text{
  font-size: 22px;
  font-weight: 600;
  color: #fff;
  text-align: center;
}
.we-work .column:nth-child(1) .single-item{
  margin-left: 10px;
}
.we-work .column:nth-child(2) .single-item{
  margin-left: 31px;
}
.we-work .column:nth-child(3) .single-item{
  margin-left: 52px;
}
.we-work .column:nth-child(4) .single-item{
  margin-left: 73px;
}
.we-work .sec-title h2{
  margin-bottom: 50px;
}


/** pricing-section **/

.pricing-section{
  position: relative;
}
.pricing-section .single-table{
  position: relative;
  border: 1px solid #f5f5f5;
  background-size: cover;
  width: 100%;
  background-repeat: no-repeat;
  z-index: 1;
  transition: all 900ms ease;
}
.pricing-section .single-table:before{
  position: absolute;
  content: '';
  background: url(../site/images/home/shap.jpg);
  width: 100%;
  height: 80px;
  right: 0px;
  bottom: 0px;
}
.pricing-section .single-table .top-content{
  position: relative;
  background: #f5f5f5;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 52px 0px 41px 0px;
  transition: all 900ms ease;
}
.pricing-section .single-table .top-content:before{
  position: absolute;
  content: '';
  right: 0px;
  bottom: -8px;
  display: block;
  width: 60%;
  height: 20px;
  background: #fff;
  transform: skewY(-4deg);
  -webkit-transform: skewY(-4deg);
}
.pricing-section .single-table .top-content:after{
  position: absolute;
  content: '';
  left: 0px;
  bottom: -8px;
  display: block;
  width: 60%;
  height: 20px;
  background: #fff;
  transform: skewY(-4deg);
  -webkit-transform: skewY(4deg);
}
.pricing-section .single-table:hover .top-content{
  background: #4EA3D7;
}
.pricing-section .single-table:hover{
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.17);
  transform: scale(1.05);
}
.pricing-section .single-table .top-content .title{
  position: relative;
  font-size: 24px;
  font-family: 'DIN', DIN;
  line-height: 33px;
  color: #222;
  margin-bottom: 5px;
  transition: all 900ms ease;
}
.pricing-section .single-table.active .top-content .title,
.pricing-section .single-table:hover .top-content .title{
  color: rgba(255, 255, 255, 0.70);
  transition: all 900ms ease;
}
.pricing-section .single-table .top-content .text{
  position: relative;
  font-family: 'DIN', DIN;
  font-size: 55px;
  line-height: 62px;
  color: #4EA3D7;
  transition: all 900ms ease;
}
.pricing-section .single-table.active .top-content .text,
.pricing-section .single-table:hover .top-content .text{
  color: #fff;
  transition: all 900ms ease;
}
.pricing-section .single-table .top-content .text span{
  font-size: 25px;
}
.pricing-section .single-table .lower-content{
  position: relative;
  padding: 31px 0px 102px 0px;
  transition: all 900ms ease;
}
.pricing-section .single-table .lower-content li{
  position: relative;
  display: block;
  margin-bottom: 15px;
  font-size: 15px;
}
.pricing-section .single-table .lower-content i{
  margin-left: 8px;
}
.pricing-section .single-table .btn-two{
  color: #222;
  border: 1px solid #e5e5e5;
}
.pricing-section .single-table .lower-content .list{
  position: relative;
  margin-bottom: 36px;
}
.pricing-section .single-table.active .btn-two,
.pricing-section .single-table:hover .btn-two{
  background: #4EA3D7;
  border: 1px solid #4EA3D7;
  color: #fff;
}
.pricing-section .sec-title h2{
  margin-bottom: 40px;
}


/** testimonials-section **/

.testimonials-section{
  position: relative;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: #fff;
  padding: 196px 0px 180px 0px;
}
.testimonials-section:before{
  position: absolute;
  content: '';
  background: url(../site/images/shap/testimonial.png);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  right: 0px;
  top: 0px;
  background-position: center center;
  z-index: -1;
}
.testimonials-section .sec-title h2{
  color: #fff;
  margin-bottom: 32px;
}
.testimonials-section .text{
  position: relative;
  font-size: 18px;
  line-height: 32px;
  margin-bottom: 24px;
  padding: 0px 20px;
}
.testimonials-section .author{
  font-size: 22px;
  font-family: 'DIN', DIN;
  line-height: 31px;
  margin-bottom: 23px;
}




.testimonial-content .inner-box{
  position:relative;
}
.testimonials-section .client-thumb-outer{
  position:relative;
  max-width:280px;
  margin:0 auto;
  overflow:hidden;
}
.testimonials-section .client-thumb-outer .client-thumbs-carousel{
  position: relative;
  max-width: 90px;
  margin: 0 auto;
}
.testimonials-section .client-thumb-outer .client-thumbs-carousel .owl-stage-outer{
  overflow:visible;
}
.testimonials-section .client-thumb-outer .client-thumbs-carousel .thumb-item{
  position:relative;
  width:86px;
  border-radius:50%;
  -o-transform: scale(0.8, 0.8);
  -ms-transform: scale(0.8, 0.8);
  -webkit-transform: scale(0.8, 0.8);
  transform: scale(0.8, 0.8);
}
.testimonials-section .client-thumb-outer .thumb-item .thumb-box{
  width:88px;
  height:88px;
  cursor:pointer;
  overflow: hidden;
  border-radius:50%;
}
.testimonials-section .owl-item .thumb-item .thumb-box:after{
  position: absolute;
  content: '';
  background: #000;
  width: 100%;
  height: 100%;
  right: 0px;
  top: 0px;
  border-radius: 50%;
  opacity: .5;
}
.testimonials-section .owl-item.active .thumb-item .thumb-box:after{
  background: transparent;
}
.testimonials-section .client-thumb-outer .client-thumbs-carousel .thumb-item img{
  overflow:hidden;
  width:100%;
  height:100%;
  display:block;
  border-radius:50%;
}
.testimonials-section .owl-nav{
  display: none;
}



/** news-section **/

.news-section{
  position: relative;
  padding: 100px 0px 100px 0px;
}
.news-section .img-box{
  position: relative;
  overflow: hidden;
  margin-bottom: 25px;
}
.news-section img{
  width: 100%;
  transition: all 500ms ease;
  transform: scale(1.0);
}
.news-section .single-item:hover .img-box img{
  transform: scale(1.1);
}
.news-section .lower-content li{
  position: relative;
  display: inline-block;
}
.news-section .lower-content li span{
  color: #4EA3D7;
}
.news-section .lower-content h3{
  margin-bottom: 4px;
}


/** main-footer-area **/

.footer-area{
  position: relative;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.subscribe-section{
  position: relative;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
.footer-area:before{
  position: absolute;
  content: '';
  background: url(../site/images/shap/footer.png);
  width: 100%;
  height: 100%;
  right: 0px;
  top: 0px;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}
.footer-area h3,
.subscribe-section h3{
  color: #fff;
	text-align: right;
}
.subscribe-section input[type='text'],
.subscribe-section input[type='email']{
  position: relative;
  width: 320px;
  height: 55px;
	text-align: right;
  border-radius: 50px;
  background: #868787;
  color: #fff;
  border: 1px solid #868787;
  margin-left: 16px;
  padding: 10px 20px;
  transition: all 500ms ease;
}
.subscribe-section input[type='text']:focus,
.subscribe-section input[type='email']:focus{
  border-color: #4EA3D7;
  transition: all 500ms ease;
}
.subscribe-section ::-webkit-input-placeholder {
  color: #fff;
}
.subscribe-section :-ms-input-placeholder {
  color: #fff;
}
.subscribe-section ::-moz-placeholder {
  color: #fff;
  opacity: 1;
}
.subscribe-section :-moz-placeholder { 
  color: #fff;
  opacity: 1;
}
.subscribe-section .form-group{
  display: inline-block;
  margin-bottom: 0px;
}
.subscribe-section button{
  padding: 13px 56px 12px 56px;
}
.subscribe-content{
  position: relative;
  border-bottom: 1px solid #343c3b;
  padding: 149px 0px 48px 0px;
}

.main-footer{
  position: relative;
  padding-top: 69px;
  padding-bottom: 38px;
  border-bottom: 1px solid #343c3b;
}
.footer-logo{
  position: relative;
  background: url(../site/images/footer/logo1.png) no-repeat 91% 100%;
  height: 60px;
  margin-bottom: 20px;
  margin-right: -18px;
}
.footer-logo a {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.main-footer .logo-wideget{
  position: relative;
  top: -16px;
}
.main-footer .logo-wideget .footer-social li{
  position: relative;
  display: inline-block;
  margin-left: 6px;
}
.main-footer p{
  margin-bottom: 23px;
}
.main-footer .logo-wideget .footer-social li a{
  position: relative;
  display: inline-block;
  width: 38px;
  height: 38px;
  text-align: center;
  line-height: 38px;
  color: #e5e5e5;
  font-size: 13px;
  background: #868787;
  border-radius: 50%;
  transition: all 500ms ease;
}
.main-footer .logo-wideget .footer-social li a:hover{
  background: #4EA3D7;
  color: #fff;
  transition: all 500ms ease;
}
.main-footer p,
.main-footer a,
.main-footer li,
.footer-bottom a{
  color: #ffffff;
	text-align: right;
    direction: rtl;
  transition: all 500ms ease;
}
.main-footer .list li a{
  position: relative;
  display: block;
  margin-bottom: 15px;
  padding: 0px 12px 0px 0px;
}
.main-footer .list li a:before{
  position: absolute;
  content: "\f105";
  font-family: 'Fontawesome';
  font-size: 15px;
  color: #cdd0d3;
  right: 0px;
  top: 0px;
  transition: all 500ms ease;
}
.main-footer .list li a:hover:before{
  color: #4EA3D7;
  transition: all 500ms ease;
}
.main-footer .list li a:hover{
  color: #4EA3D7;
  text-decoration: underline;
  transition: all 500ms ease;
}
.main-footer .contact-info li{
  position: relative;
  padding: 0px 24px 0px 0px;
  margin-bottom: 15px;
}
.main-footer .contact-info i{
  position: absolute;
  right: 0px;
  top: 9px;
}
.main-footer .service-wideget{
  position: relative;
  margin: 0px 52px 0px -10px;
}
.main-footer .link-wideget{
  position: relative;
  margin: 0px 70px 0px 0px;
}
.main-footer .footer-title h3{
  margin-bottom: 20px;
}
.main-footer .contact-wideget .footer-title h3{
  margin-bottom: 24px;
}
.main-footer .contact-wideget p{
  line-height: 24px;
  margin-bottom: 17px;
}
.footer-bottom{
  position: relative;
  padding: 24px 0px 22px 0px;
  color: #cdd0d3;
}
.footer-bottom a:hover{
  color: #4EA3D7;
}



/*** 

====================================================================
                        about-Page
====================================================================

***/


/** page title **/


.page-title{
  position: relative;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 113px 0px 133px 0px; 
}
.page-title:before{
  position: absolute;
  content: '';
  background: url(../site/images/shap/page-title1.png);
  width: 100%;
  height: 100%;
  right: 0px;
  top: 0px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: -1;
}
.page-title:after{
  position: absolute;
  content: '';
  background: url(../site/images/shap/page-title2.png);
  width: 100%;
  height: 100%;
  right: 0px;
  top: 0px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: -1;
}

.page-title .title{
  display: inline-block;
}
.page-title .bread-crumb li{
  position: relative;
  display: inline-block;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  padding-left: 15px;
  margin-left: 5px;
}
.page-title .bread-crumb li:last-child{
  padding-left: 0px;
  margin-left: 0px;
}
.page-title .bread-crumb li:first-child:before{
  position: absolute;
  content: "/";
  font-size: 16px;
  color: #fff;
  left: 0px;
  top: 1px;
}
.page-title .bread-crumb a{
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}
.page-title .bread-crumb a:hover{
  color: #4EA3D7;
}
.page-title .content-box{
  position: relative;
  z-index: 1;
}
.page-title h1{
  margin-bottom: 12px;
}


/** our-team **/

.our-team{
  position: relative;
  padding: 108px 0px 93px 0px;
}
.our-team img{
  width: 100%;
  transition: all 500ms ease;
  transform: scale(1.0);
}
.our-team .single-item:hover img{
  transform: scale(1.1);
}
.our-team .img-box{
  position: relative;
  overflow: hidden;
  margin-bottom: 25px;
}
.our-team .text{
  font-size: 15px;
}
.our-team .single-item h3{
  margin-bottom: 5px;
}
.our-team .sec-title h2{
  margin-bottom: 37px;
}


/*** 

====================================================================
                        testimonial-Page
====================================================================

***/

.tesimonial-page{
  position: relative;
  padding: 114px 0px 70px 0px;
}
.tesimonial-page .single-item{
  position: relative;
  display: block;
        border-radius: 50px;
       padding: 40px 30px 20px 0px;
  border: 1px solid #e5e5e5;
  margin-bottom: 30px;
  transition: all 500ms ease;
}
.tesimonial-page .single-item:hover{
  box-shadow: 0 9px 15px rgba(0, 0, 0, 0.20);
}
.tesimonial-page .single-item .icon-box{
  position: relative;
  margin-bottom: 14px;
}
.tesimonial-page .single-item .icon-box i:before{
  font-size: 36px;
  color: #4EA3D7;
  margin: 0px;
}
.tesimonial-page .single-item .author{
  position: relative;
  padding: 7px 75px 20px 0px;
}
.tesimonial-page .single-item .author-img{
  position: absolute;
  overflow: hidden;
  border-radius: 50%;
  right: 0px;
  top: 0px;
  width: 60px;
  height: 60px;
}
.tesimonial-page .single-item .author-img img{
  width: 100%;
}

.tesimonial-page .single-item .author-info h5{
  margin-bottom: -4px;
}
.tesimonial-page .single-item .author span{
  font-size: 13px;
  font-style: italic;
}
.tesimonial-page .single-item p{
  margin-bottom: 21px;
    float: left;
}
.tesimonial-page .sec-title h2{
  margin-bottom: 40px;
}


/*** 

====================================================================
                        faq-Page
====================================================================

***/


.faq-section{
  position: relative;
  padding: 117px 0px 63px 0px;
}
.faq-section .faq-title{
  position: relative;
  font-size: 35px;
  font-family: 'DIN', DIN;
  line-height: 42px;
  color: #222;
  font-weight: 500;
  margin-bottom: 50px;
}
.accordion-box{
  position: relative;
}
.accordion-box .accordion .acc-btn.active .toggle-icon .plus {
  opacity: 0;
}
.accordion-box .accordion .acc-btn .toggle-icon .plus{
  position: relative;
  left: 0px;
  top: -6px;
}
.accordion-box .accordion .acc-btn .toggle-icon .minus {
  opacity: 0;
}
.accordion-box .accordion .acc-btn.active .toggle-icon .minus {
  opacity: 1;
  right: -45px;
  top: -6px;
}
.accordion-box .accordion .acc-btn{
  position: relative;
}
.accordion-box .accordion .acc-btn .toggle-icon{
  position: absolute;
  right: 0px;
  top: 0px;
}
.accordion-box .accordion .acc-btn .toggle-icon i{
  position: relative;
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  border: 1px solid #e5e5e5;
  border-radius: 50%;
  font-size: 15px;
  cursor: pointer;
}
.accordion-box .accordion .acc-btn.active .toggle-icon{
  color: #4EA3D7;
}
.accordion-box .accordion .acc-content.collapsed {
  display: block;
}
.accordion-box .accordion .acc-title h4{
  margin-bottom: 0px;
}
.accordion-box .accordion .acc-title{
  position: relative;
  padding: 0px 64px 0px 0px;
  margin-bottom: 32px;
  cursor: pointer;
}
.accordion-box .accordion .acc-content {
  display: none;
  padding: 0px 66px 0px 0px;
  margin-bottom: 48px;
}
.accordion-box .accordion .acc-content p{
  margin-bottom: 0px;
}
.accordion-box .accordion .acc-btn.active .acc-title h4{
  color: #4EA3D7;
}

.faq-form-area input[type='text'],
.faq-form-area input[type='email'],
.faq-form-area textarea{
  position: relative;
  width: 100%;
  height: 50px;
  border: 1px solid #e5e5e5;
  padding: 15px 20px;
  margin-bottom: 18px;
  transition: all 500ms ease;
}
.faq-form-area textarea{
  resize: none;
  height: 120px;
  margin-bottom: 10px;
}
.faq-form-area input[type='text']:focus,
.faq-form-area input[type='email']:focus{
  border: 1px solid #4EA3D7;
}
.faq-form-area .form-group{
  margin-bottom: 0px;
}
.faq-form-area .btn-one{
  width: 100%;
  border-radius: 0px;
  padding: 10px 40px 10px 40px;
}
.faq-form-area h3{
  margin-bottom: 23px;
}


/*** 

====================================================================
                        error-Page
====================================================================

***/


.error-section{
  position: relative;
  padding: 199px 0px 184px 0px;
}
.error-section .error-title{
  position: relative;
  font-size: 150px;
  font-family: 'DIN', DIN;
  line-height: 150px;
  color: #222;
  font-weight: 500;
  margin-bottom: 20px;
}
.error-section .error-title i:before{
  color: #4EA3D7;
  margin: 0px 10px;
  font-size: 175px;
}
.error-section .title{
  position: relative;
  font-size: 42px;
  line-height: 50px;
  font-family: 'DIN', DIN;
  color: #222;
  margin-bottom: 31px;
}
.error-section .text{
  font-size: 16px;
  margin-bottom: 18px;
}
.error-section .input-form{
  position: relative;
}
.error-section .input-form button{
  position: absolute;
  top: 14px;
  left: 30px;
  background: transparent;
  z-index: 1;
  font-size: 15px;
  color: #848484;
  transition: all 500ms ease;
}
.error-section .input-form input[type='search']{
  position: relative;
  width: 100%;
  border-radius: 50px;
  padding: 10px 20px 10px 50px;
  height: 55px;
  margin-bottom: 44px;
  border: 1px solid #e5e5e5;
  transition: all 500ms ease;
}
.error-section .input-form input[type='search']:focus + button,
.error-section .input-form button:hover{
  color: #4EA3D7;
}
.error-section .input-form input[type='search']:focus{
  border: 1px solid #4EA3D7;
}
.error-section .form-group{
  margin-bottom: 0px;
}
.error-section .img-box{
  position: relative;
  top: 35px;
}


/*** 

====================================================================
                       service-details
====================================================================

***/

.service-details{
  position: relative;
  padding: 122px 0px 98px 0px;
}
.sidebar li{
  position: relative;
  display: block;
  margin-bottom: 10px;
}
.sidebar li a{
  position: relative;
  display: block;
  background: #f2f2f2;
  font-size: 15px;
  color: #222;
  padding: 16px 22px 14px 28px;
  border-radius: 50px;
  transition: all 500ms ease;
}
.sidebar li a.active,
.sidebar li a:hover{
  background: #4EA3D7;
  color: #fff;
  transition: all 500ms ease;
}
.sidebar li a:before{
  position: absolute;
  content: "\f178";
  font-family: "FontAwesome";
  font-size: 15px;
  color: #848484;
  top: 016px;
  left: 25px;
  transition: all 500ms ease;
}
.sidebar li a.active:before,
.sidebar li a:hover:before{
  color: #fff;
  transition: all 500ms ease;
}
.service-details-content img{
  width: 100%;
}
.service-details-content .content-style-one p{
  font-size: 15px;
}
.service-details-content .img-box{
  margin-bottom: 43px;
}
.service-details-content .content-style-one .title{
  position: relative;
  font-size: 35px;
  font-family: 'DIN', DIN;
  line-height: 42px;
  font-weight: 500;
  color: #222;
  margin-bottom: 23px;
}
.service-details-content p{
  margin-bottom: 26px;
}
.service-details-content .content-style-two h3{
  font-weight: 500;
  margin-bottom: 16px;
}
.service-details-content .content-style-one{
  position: relative;
  margin-bottom: 56px;
}
.service-details-content .content-style-two p{
  margin-bottom: 42px;
}
.service-details-content .btn-one{
  padding: 21px 49px 20px 49px;
}


/*** 

====================================================================
                       gallery page
====================================================================

***/


.gallery-section{
  position: relative;
  padding: 122px 0px 74px 0px;
}
.gallery-section .single-item-overlay .img-box img {
  width: 100%;
}

.gallery-section .single-item-overlay .img-box .overlay {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  transform: scale(0.7,0);
  transition: .5s ease-in-out;
}
.gallery-section .single-item:hover .img-box .overlay {
  transform: scale(1,1);
  transition: .5s ease-in-out;
}

.gallery-section .single-item-overlay .inner-box {
    display: table;
    width: 100%;
    height: 100%;
    text-align: center;
}
.gallery-section .single-item-overlay .content {
    display: table-cell;
    vertical-align: middle;
    position: relative;
    top: -20%;
    transition: .2s cubic-bezier(0.4, 0, 1, 1);
}
.gallery-section .single-item-overlay:hover .content {
  top: 0;
  transition: .5s cubic-bezier(0.4, 0, 1, 1);
  transition-delay: .3s;
}
.gallery-section .single-item-overlay .content li a {
  color: #222;
  display: inline-block;
  font-size: 24px;
  background: #fff;
  width: 65px;
  height: 65px;
  text-align: center;
  border-radius: 50%;
  line-height: 65px;
}
.gallery-section .single-item-overlay .content li a:hover{
  color: #4EA3D7;
}
.gallery-section .post-filter{
  position: relative;
  margin-bottom: 40px;
}
.gallery-section .post-filter li span{
  position: relative;
  display: block;
  color: #222;
  font-weight: 600;
  text-transform: uppercase;
  background: #f2f2f2;
  padding: 15px 33px 14px 33px;
  text-align: center;
  border-radius: 50px;
  margin: 0px 1px;
  cursor: pointer;
  transition: all 500ms ease
}
.gallery-section .post-filter li.active span{
  background: #4EA3D7;
  color: #fff;
  transition: all 500ms ease;
}














.service-section .post-filter{
  position: relative;
  margin-bottom: 40px;
}
.service-section .post-filter li span{
  position: relative;
  display: block;
  color: #222;
  font-weight: 600;
  text-transform: uppercase;
  background: #f2f2f2;
  padding: 15px 33px 14px 33px;
  text-align: center;
  border-radius: 50px;
  margin: 0px 1px;
  cursor: pointer;
  transition: all 500ms ease
}
.service-section .post-filter li.active span{
  background: #4EA3D7;
  color: #fff;
  transition: all 500ms ease;
}
/*** 

====================================================================
                       team-page / team-details
====================================================================

***/

.team-page{
  position: relative;
  padding-bottom: 50px;
}
.team-page .single-item{
  margin-bottom: 43px;
}
.team-details{
  position: relative;
  padding-bottom: 90px;
}
.team-details .img-box{
  position: relative;
  margin: 0px 49px 0px 51px;
}
.team-details .img-box:before{
  right: -50px;
  bottom: -50px;
}
.team-details .team-details-content{
  position: relative;
  margin-right: -30px;
  margin-top: -5px;
}
.team-details-content .content-style-one .title{
  position: relative;
  font-size: 35px;
  line-height: 42px;
  font-family: 'DIN', DIN;
  color: #222;
  margin-bottom: 4px;
}
.team-details-content .content-style-one .text{
  margin-bottom: 25px;
}
.team-details-content .content-style-one .contact-info{
  margin-bottom: 33px;
  margin-top: 26px;
}
.team-details-content .content-style-one .contact-info li,
.team-details-content .content-style-one .contact-info li a{
  position: relative;
  display: inline-block;
}
.team-details-content .content-style-one .contact-info li{
  margin-left: 32px;
}
.team-details-content .content-style-one .contact-info i:before{
  color: #222;
  margin-left: 10px;
}
.team-details-content .content-style-one .team-social{
  margin-bottom: 68px;
}
.team-details-content .content-style-one .team-social li{
  position: relative;
  display: inline-block;
  margin-left: 7px;
}
.team-details-content .content-style-one .team-social li a{
  position: relative;
  display: inline-block;
  font-size: 15px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border: 1px solid #e6e6e6;
  border-radius: 50%;
  transition: all 500ms ease;
}
.team-details-content .content-style-one .team-social li a:hover{
  background: #4EA3D7;
  border: 1px solid #4EA3D7;
  color: #fff;
  transition: all 500ms ease;
}
.team-details-content .content-style-two .list li{
  position: relative;
  padding: 0px 19px 0px 0px;
  margin-bottom: 6px;
}
.team-details-content .content-style-two .list li:before{
  position: absolute;
  content: "\f069";
  font-family: 'FontAwesome';
  font-size: 11px;
  color: #4EA3D7;
  right: 0px;
  top: 3px;
}
.team-details-content .content-style-two h3{
  margin-bottom: 16px;
}
.team-details-content .content-style-two p{
  margin-bottom: 60px;
}


/*** 

====================================================================
                      shop page
====================================================================

***/

.shop-section{
  position: relative;
  padding: 117px 0px 54px 0px;
}
.shop-section .sidebar h4{
  font-weight: 500;
  margin-bottom: 22px;
}
.noUi-background{
  background: #e5e5e5;
  border-radius: 0px;
  border: none;
  box-shadow: none;
  height: 4px;
  margin-bottom: 19px;
}
.noUi-connect{
  background: #4EA3D7;
  box-shadow: none;
}
.noUi-horizontal .noUi-handle {
  width: 14px;
  height: 14px;
  right: -1px;
  top: -6px;
  border: 2px solid #4EA3D7;
}
.noUi-handle {
  border: 1px solid #D9D9D9;
  border-radius: 50%;
  background: #FFF;
  cursor: default;
}
.noUi-origin.noUi-connect.noUi-dragable{
  right: 0% !important;
}
.shop-section .price-text{
  position: relative;
}
.shop-section .price-text button{
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  padding: 5px 22px 4px 23px;
  background: #4EA3D7;
  transition: all 500ms ease;
}
.shop-section .price-text button:hover{
  background: #222;
}
.shop-section .price-text p{
  float: left;
  position: relative;
  color: #222;
  font-weight: 500;
  margin-bottom: 0px;
  top: 6px;
}
.shop-section .price-text input {
  width: auto;
  border: none;
  outline: none;
  width: 40px;
  font-size: 16px;
  font-weight: 500;
  color: #222;
  margin-bottom: 0px;
  height: 20px;
  padding: 0px;
}
.sidebar .list{
  position: relative;
  margin-bottom: 43px;
}
.shop-section .sidebar .price-bar h4{
  margin-bottom: 26px;
}

.btn-group.open .dropdown-toggle {
  box-shadow: none;
}
.bootstrap-select.btn-group .dropdown-toggle .filter-option {
  color: #848484;
  padding: 9px 16px;
  border: 1px solid #e5e5e5;
  border-radius: 50px;
}
.bs-caret {
  display: none;
}
.select-box .btn:after {
  position: absolute;
  content: "\f107";
  font-family: FontAwesome;
  font-size: 15px;
  color: #848484;
  width: 20px;
  left: 15px;
  top: 50%;
  margin-top: -11px;
}
.dropdown-menu>li>a {
  padding: 8px 15px;
}
.bootstrap-select>.dropdown-toggle{
  padding: 0px;
  width: 180px;
  background: transparent;
}
.bootstrap-select .dropdown-toggle:focus{
  outline: none !important;
}
.btn.active, .btn:active {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.bootstrap-select .dropdown-menu{
  margin-top: 8px;
}
.bootstrap-select.btn-group .dropdown-menu{
  min-width: 180px;
}
.bootstrap-select.btn-group:not(.input-group-btn), .bootstrap-select.btn-group[class*=col-]{
  width: 180px !important;
  box-shadow: none;
}
.shop-content .top-content .text,
.shop-content .top-content .select-box{
  position: relative;
  display: inline-block;
}
.shop-content .top-content .select-box{
  margin: 0px 10px;
  top: -4px;
}
.shop-content{
  position: relative;
  margin-top: 8px;
}
.shop-content .top-content{
  position: relative;
  margin-bottom: 33px;
}
.shop-content .top-content .right-content{
  position: relative;
  display: inline-block;
  float: left;
}
.shop-content .top-content .right-content a{
  display: inline-block;
  font-size: 16px;
  color: #222;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border: 1px solid #e6e6e6;
  border-radius: 50%;
  margin-right: 7px;
}
.shop-content .top-content .right-content a:hover{
  color: #fff;
  background: #4EA3D7;
  border: 1px solid #4EA3D7;
}
.item .img-box {
  position: relative;
  overflow: hidden;
  margin-bottom: 12px;
}
.shop-content .item .img-box{
  background: #f5f5f5;
}
.item .img-box img {
  width: 100%;
}
.item .default-overlay-outer{
  opacity:0;
  top:-100%;
  background: rgba(0, 0, 0, 0.1);
}

.item:hover .default-overlay-outer{
  top:0;
  opacity:1;  
}
.default-overlay-outer{
  position:absolute;
  display:block;
  right:0px;
  top:0px;
  width:100%;
  height:100%;
  padding:10px;
  transition:all 700ms ease;
  -webkit-transition:all 700ms ease;
  -ms-transition:all 700ms ease;
  -o-transition:all 700ms ease;
  -moz-transition:all 700ms ease;
}

.default-overlay-outer .inner{
  position:absolute;
  right:0px;
  top:0px;
  width:100%;
  height:100%;
  display:table;
  vertical-align:middle;
  text-align:center;
}

.default-overlay-outer .inner .content-layer{
  position:relative;
  display:table-cell;
  vertical-align:middle;
  color:#ffffff;
}
.shop-product .lower-content .rating{
  position: relative;
  display: inline-block;
}
.shop-product .lower-content .rating li{
  position: relative;
  display: inline-block;
  font-size: 12px;
  color: #ffb400;
  margin-left: 3px;
  line-height: 24px;
}
.shop-product .lower-content .heart{
  position: relative;
  display: inline-block;
  float: left;
}
.shop-product .lower-content .price{
  font-size: 17px;
  font-weight: 600;
}
.shop-product .lower-content h6{
  margin-bottom: 2px;
}
.shop-product .single-column{
  margin-bottom: 38px;
}
.shop-product .content-layer .btn-two{
  background: #fff;
  margin-bottom: 5px;
  color: #848484;
  padding: 8px 36px 8px 36px;
}
.shop-product .content-layer .btn-one{
  margin-top: 5px;
  padding: 8px 27px 8px 27px;
}
.shop-product .content-layer .btn-one:hover{
  background: #fff;
  border: 2px solid #fff;
}
.shop-product .content-layer .btn-two:hover{
  background: #4EA3D7;
  color: #fff;
}


/*** 

====================================================================
                      single shop
====================================================================

***/



.single-shop{
  position: relative;
  padding-top: 122px;
  padding-bottom: 54px;
}
.addto-cart-box .quantity-spinner{
  position: relative;
  height: 45px;
  width: 66px;
  border: 1px solid #e5e5e5;
  color: #848484;
  text-align: center;
  font-size: 14px;
  font-family: 'DIN', DIN;
  line-height: 26px;
  padding: 0px 0px;
  display: inline-block;
  z-index: -1;
}
.addto-cart-box .input-group{
  display: inline-block;
}
.addto-cart-box .btn.btn-default {
  background: transparent;
  color: #666;
  border: none;
  margin-right: 0px;
  margin: 0px 0px;
}
.addto-cart-box .input-group.bootstrap-touchspin {
  float: none;
  width: 66px;
}
.addto-cart-box .heart{
  position: relative;
  display: inline-block;
}
.single-shop .product-content .catagories .text{
  display: inline-block;
  color: #222;
}
.single-shop .product-content{
  position: relative;
  margin-right: 10px;
  margin-top: 5px;
}
.single-shop .product-content .catagories{
  position: relative;
  margin-bottom: 8px;
}
.single-shop .product-content .catagories .list,
.single-shop .product-content .catagories .list li{
  display: inline-block;
}
.single-shop .product-content .post-share .text{
  display: inline-block;
  color: #222;
}
.single-shop .product-content .post-share .post-social{
  display: inline-block;
  float: left;
}
.single-shop .product-content .post-share .post-social li{
  display: inline-block;
  margin-right: 22px;
}
.single-shop .product-content .post-share .post-social li a{
  position: relative;
  display: inline-block;
  font-size: 13px;
}
.single-shop .product-content .title{
  font-size: 35px;
  font-family: 'DIN', DIN;
  color: #222;
  line-height: 42px;
  margin-bottom: 9px;
}
.single-shop .product-content .price{
  font-size: 22px;
  line-height: 30px;
  color: #4EA3D7;
  font-weight: 600;
  margin-bottom: 28px;
}
.single-shop .product-content p{
  margin-bottom: 27px;
}
.single-shop .single-product .img-box{
  position: relative;
  margin-left: 10px;
  background: #f5f5f5;
}
.related-product .item .img-box{
  background: #f5f5f5;
}
.single-shop .single-product .img-box img{
  width: 100%;
}
.addto-cart-box .btn-one{
  border-radius: 0px;
  padding: 8px 22px 7px 22px;
  top: 8px;
  margin-left: 20px;
  margin-right: 8px;
}
.addto-cart-box .heart i:before{
  font-size: 15px;
}
.addto-cart-box .heart{
  position: relative;
  top: 8px;
}
.addto-cart-box{
  position: relative;
  margin-bottom: 33px;
}
.single-shop .single-product .post-share{
  position: relative;
  margin-top: 32px;
  border-top: 1px solid #e5e5e5;
  padding-top: 33px;
}
.product-discription .tab-title li{
  position: relative;
  display: inline-block;
  margin-left: 24px;
  font-size: 15px;
  font-family: 'DIN', DIN;
  font-weight: 500;
  cursor: pointer;
  padding: 0px 0px 2px 0px;
}
.product-discription .tab-title li.active{
  color: #4EA3D7;
  border-bottom: 2px solid #4EA3D7;
}
.product-discription .tab-title{
  margin-bottom: 23px;
  border-bottom: 1px solid #e5e5e5;
}
.single-shop .single-product{
  margin-bottom: 98px;
}
.product-discription{
  margin-bottom: 102px;
}
.single-shop .related-product .title h3{
  font-weight: 500;
  margin-bottom: 23px;
}


/*** 

====================================================================
                      cart page
====================================================================

***/


.cart-section{
  position: relative;
  padding-top: 122px;
  padding-bottom: 100px;
}
.cart-section .table-outer {
  overflow-x: auto;
  position: relative;
  width: 100%;
  border: 1px solid #e5e5e5;
}
.cart-section .cart-table {
  min-width: 1024px;
  width: 100%;
}
.cart-section .cart-table .cart-header {
  width: 100%;
  background: #269bd6;
}
.cart-section .cart-table thead tr th.price{
  right: 115px;
}
.cart-section .cart-table thead tr th.quantity{
  padding: 15px 120px 14px 45px;
  position: relative;
  right: 90px;
}
.cart-section .cart-table thead tr th.table-title {
  padding: 12px 30px 11px 30px;
}
.cart-section .cart-table thead tr th.table-title{
  font-weight: 500;
  margin-bottom: 0px;
  font-size: 20px;
  font-family: 'DIN', DIN;
  line-height: 30px;
  color: #ffffff;
}
.cart-section .cart-table thead tr th.availability {
  padding: 0 40px
}


.cart-section .cart-table tbody tr {
  border-top: 1px solid #e5e5e5;
}
.cart-section .cart-table tbody tr td {
  color: #222222;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  min-width: 80px;
  padding: 30px 25px 31px 25px;
}
.cart-section .cart-table tbody tr td.cart-btn{
  min-width: 225px;
}
.cart-section .cart-table tbody tr td.sub-total{
  padding: 27px 48px;
}
.cart-section .cart-table tbody tr .prod-column .column-box {
  min-height: 70px;
  position: relative;
}
.cart-section .cart-table tbody tr .prod-column .column-box .prod-thumb img {
  display: block;
  max-width: 100%;
}
.cart-section .cart-table tbody tr .prod-column .column-box .prod-thumb, 
.cart-section .cart-table tbody tr .prod-column .column-box .title{
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
}
.cart-section .cart-table tbody tr .prod-column .column-box .prod-thumb{
  position: relative;
  overflow: hidden;
  background: #f5f5f5;
  width: 80px;
  height: 80px;
}
.cart-section .cart-table tbody tr .prod-column .column-box .prod-thumb img{
  width: 100%;
}
.cart-section .cart-table tbody tr .prod-column .column-box .title{
  padding-right: 20px;
}

.cart-section .cart-table tbody tr .qty {
  padding-left: 25px;
  width: 160px;
  padding: 45px 35px;
  float: left;
  position: relative;
  right: 105px;
}

.cart-section .cart-table tbody tr td.price {
  color: #777;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  position: relative;
  right: 115px;
}
.cart-section .cart-table tbody tr .sub-total {
  font-weight: 600;
  font-size: 17px;
  color: #4EA3D7;
}
.cart-section .cart-table tbody tr td .remove .checkbox label {
  color: #848484;
  font-size: 16px;
  font-weight: 400;
  padding: 0px;
}
.cart-section .cart-table tbody tr td .remove .checkbox label input[type="checkbox"] {
  display: inline-block;
  position: relative;
  top: 1px;
}
.cart-section .cart-table .remove .checkbox{
  text-align: left;
}
.cart-section .cart-table .prod-title{
  position: relative;
  display: inline-block;
  font-size: 15px;
  color: #222;
  font-family: 'DIN', DIN;
}
.cart-section .coupon-box{
  position: relative;
  padding: 27px 30px 28px 30px;
  border: 1px solid #e5e5e5;
  border-top: none;
  margin-bottom: 70px;
}
.cart-section .coupon-box input{
  display: inline-block;
  width: 370px;
  margin-left: 20px;
  margin-bottom: 0px;
  height: 45px;
  border: 1px solid #e5e5e5;
  padding: 8px 15px;
  border-radius: 50px;
  transition: all 500ms ease;
}
.cart-section .coupon-box input:focus{
  border: 1px solid #4EA3D7;
}
.cart-section .coupon-box .cart-btn{
  float: left;
}
.cart-section .addto-cart-box{
  margin-bottom: 0px;
}
.cart-section .coupon-box .btn-one{
  padding: 8px 33px 8px 33px; 
}
.cart-section .coupon-box .apply-btn{
  background: transparent;
  color: #222;
}
.cart-section .coupon-box .apply-btn:hover{
  background: #4EA3D7;
  color: #fff;
}
.cart-section .cart-totals{
  position: relative;
  border: 1px solid #e5e5e5;
  padding: 0px 0px 0px 0px;
}
.white{
    color: #ffffff !important;
}
.cart-section .cart-totals h4{
  margin-bottom: 0px;
  font-weight: 500;
  display: block;
  background: #269bd6;
  padding: 12px 30px 12px 20px;
}
.cart-section .cart-totals .text{
  position: relative;
  font-size: 15px;
  font-family: 'DIN', DIN;
  font-weight: 500;
  color: #222;
  padding: 25px 29px 12px 30px;
}
.cart-section .cart-totals .text.order{
  border-top: 1px solid #e5e5e5;
  padding: 14px 29px 25px 30px;
}
.cart-section .cart-totals .text span{
  float: left;
  font-size: 20px;
  font-family: 'DIN', DIN;
  font-weight: 600;
  color: #848484;
}
.cart-section .cart-totals .text.order span{
  color: #4EA3D7;
}
.cart-section .cart-total-btn{
  position: relative;
  margin-top: 70px;
}


/*** 

====================================================================
                        checkout-page
====================================================================

***/

.checkout-section{
  position: relative;
  padding: 122px 0px 100px 0px;
}
.checkout-section .customer,
.checkout-section .coupon{
  position: relative;
  width: 100%;
  border: 1px solid #e5e5e5;
  padding: 14px 31px 15px 0px;
  margin-bottom: 30px;
  color: #222;
}
.checkout-section .customer:before,
.checkout-section .coupon:before{
  position: absolute;
  content: '';
  background: #4EA3D7;
  width: 100%;
  height: 1px;
  right: 0px;
  top: -2px;
}
.checkout-section .customer a,
.checkout-section .coupon a{
  color: #4EA3D7;
  text-decoration: underline;
}
.checkout-section .create-acc .checkbox {
  margin: 7px 0 0;
}
.checkout-section label {
  color: #222;
  font-weight: 400;
  font-size: 14px;
  z-index: 1;
  margin-bottom: 2px;
}
.checkout-section .checkbox span{
  cursor: pointer;
  margin-right: 6px;
  z-index: 1;
}
.checkout-section .checkbox input{
  width: 17px;
  height: 17px;
  display: inline-block;
}
.checkout-section .title h4{
  text-transform: uppercase;
  margin-bottom: 0px;
  font-weight: 500;
  background: #4EA3D7;
  display: block;
  border-bottom: 1px solid #e5e5e5;
  padding: 12px 30px 13px 0px;
  margin-bottom: 23px;
}
.checkout-section .billing-info{
  position: relative;
  border: 1px solid #e5e5e5;
  padding: 0px 0px 19px 0px;
  margin-bottom: 30px;
}
.checkout-section .billing-form{
  position: relative;
  padding: 0px 29px;
}
.checkout-section .bootstrap-select>.dropdown-toggle{
  width: 100%;
}
.checkout-section .bootstrap-select.btn-group:not(.input-group-btn){
  width: 100% !important;
}
.checkout-section .bootstrap-select.btn-group .dropdown-menu{
  min-width: 100%;
}
.checkout-section input[type='text']{
  position: relative;
  width: 100%;
  border: 1px solid #e5e5e5;
  height: 45px;
  padding: 10px 15px;
  transition: all 500ms ease;
  margin-bottom: 23px;
}
.checkout-section input[type='text']:focus{
  border: 1px solid #4EA3D7;
}
.checkout-section .additional-information{
  position: relative;
  border: 1px solid #e5e5e5;
  padding-bottom: 2px;
}
.checkout-section .additional-information .note-box{
  position: relative;
  padding: 0px 29px 0px 29px;
}
.checkout-section .additional-information .note-box textarea{
  width: 100%;
  height: 120px;
  background: #f5f5f5;
  padding: 20px;
  resize: none;
  border: 1px solid #f5f5f5;
}
.checkout-section .order-info{
  position: relative;
  border: 1px solid #e5e5e5;
  padding-bottom: 20px;
  margin-bottom: 30px;
}
.checkout-section .order-info .title h4{
  margin-bottom: 0px;
}
.checkout-section .order-info .single-item{
  position: relative;
  padding: 30px 29px 31px 29px;
  border-bottom: 1px solid #e5e5e5;
}
.checkout-section .order-info .single-item .img-box,
.checkout-section .order-info .single-item .item-name,
.checkout-section .order-info .single-item .price,
.checkout-section .order-info .sub-total .price,
.checkout-section .order-info .order-total .price{
  position: relative;
  display: inline-block;
}
.checkout-section .order-info .single-item .img-box{
  background: #f5f5f5;
  width: 80px;
  height: 80px;
}
.checkout-section .order-info .single-item .img-box img{
  width: 100%;
}
.checkout-section .order-info .single-item .item-name{
  font-size: 16px;
  font-family: 'DIN', DIN;
  line-height: 27px;
  color: #222;
  text-transform: uppercase;
  margin-right: 17px;
}
.checkout-section .order-info .price{
  font-size: 20px;
  color: #848484;
  font-weight: 600;
  float: left;
  padding: 27px 0px;
}
.checkout-section .order-info .sub-total .price,
.checkout-section .order-info .order-total .price{
  padding: 0px;
}
.checkout-section .order-info .sub-total,
.checkout-section .order-info .order-total{
  position: relative;
  padding: 25px 28px 11px 29px;
  font-size: 18px;
  color: #222;
  font-family: 'DIN', DIN;
  line-height: 28px;
  text-transform: uppercase;
}
.checkout-section .order-info .sub-total{
  border-bottom: 1px solid #e5e5e5;
}
.checkout-section .order-info .price.color{
  color: #4EA3D7;
}
.checkout-section .order-info .order-total{
  padding: 13px 28px 2px 29px; 
}
.checkout-section .payment-info{
  position: relative;
  border: 1px solid #e5e5e5;
  padding-bottom: 30px;
}
.checkout-section .payment-info .payment-option{
  position: relative;
  padding: 2px 29px 0px 29px;
}
.checkout-section .payment-info .payment-option .checkbox span{
  font-size: 17px;
  font-family: 'DIN', DIN;
  margin-right: 11px;
}
.checkout-section .payment-info .payment-option .text{
  margin-right: 31px;
  font-size: 13px;
  line-height: 24px;
  margin-bottom: 21px;
}
.checkout-section .payment-info .payment-option .btn-one{
  width: 100%;
  margin-top: 23px;
  padding: 7px 39px 8px 39px;
}
.checkout-section .payment-info .payment-option  .checkbox a{
  font-size: 13px;
  color: #4EA3D7;
  text-decoration: underline;
  margin-right: 20px;
}
.checkout-section .payment-info .title h4{
  margin-bottom: 13px;
}
.checkout-section .payment-info .checkbox{
  margin-bottom: 3px;
}
.checkout-section input{
  border-radius: 50px;
}


/*** 

====================================================================
                        blog classic
====================================================================

***/

.blog-classic{
  position: relative;
  padding: 122px 0px 100px 0px;
}
.blog-classic .single-item{
  position: relative;
  transition: .5s ease-in-out;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 50px;
  padding-bottom: 50px;
}
.blog-classic .single-item p{
  font-size: 15px;
  margin-bottom: 33px;
}
.blog-classic .single-item .img-box{
  margin-bottom: 35px;
}
.blog-classic .single-item .meta{
  position: relative;
  margin-bottom: 24px;
}
.blog-classic .single-item:nth-child(5){
  border-bottom: none;
}
.blog-page .sidebar-search{
  position: relative;
  margin-bottom: 26px;
}
.blog-page .form-group{
  margin-bottom: 0px;
}
.blog-page .sidebar-search input[type='search']{
  position: relative;
  width: 100%;
  height: 50px;
  border: 1px solid #e5e5e5;
  padding: 10px 20px 10px 40px;
  margin-bottom: 18px;
  transition: all 500ms ease;
  border-radius: 50px;
}
.blog-page .sidebar-search input[type='search']:focus + button,
.blog-page .sidebar-search button:hover{
  color: #4EA3D7;
}
.blog-page .sidebar-search input[type='search']:focus{
  border: 1px solid #4EA3D7;
}
.blog-page .sidebar-search button{
  position: absolute;
  top: 11px;
  left: 20px;
  background: transparent;
  font-size: 15px;
  color: #848484;
  transition: all 500ms ease;
}
.blog-page .sidebar .sidebar-title{
  position: relative;
  font-size: 22px;
  font-family: 'DIN', DIN;
  font-weight: 500;
  color: #222;
  margin-bottom: 24px;
}
.blog-page .sidebar .sidebar-post .single-post{
  position: relative;
  padding-bottom: 19px;
  margin-bottom: 11px;
  border-bottom: 1px solid #e5e5e5;
}
.blog-page .sidebar .list{
  margin-bottom: 45px;
}
.blog-page .sidebar .sidebar-post .sidebar-title{
  margin-bottom: 20px;
}
.blog-page .sidebar .sidebar-post h5,
.blog-page .sidebar .sidebar-post h5 a{
  line-height: 22px;
  margin-bottom: 5px;
}


/*** 

====================================================================
                        blog single
====================================================================

***/


.blog-single{
  position: relative;
}
.blog-single .blog-single-content .single-item{
  margin-bottom: 43px;
}
.blog-single .blog-single-content .single-item:hover img{
  transform: scale(1.0);
}
.blog-single .blog-single-content p{
  font-size: 15px;
  margin-bottom: 26px;
}
.blog-single .blog-single-content .lower-text p{
  font-size: 14px;
}
.blog-single .blog-single-content .title-text{
  position: relative;
  font-size: 22px;
  font-family: 'DIN', DIN;
  line-height: 30px;
  color: #222;
  font-weight: 500;
  margin-bottom: 15px;
}
.blog-single .blog-single-content .content-text{
  position: relative;
  padding: 50px 30px 17px 30px;
  border: 1px solid #e5e5e5;
  margin-left: 50px;
  margin-bottom: 42px;
}
.blog-single .blog-single-content .single-item .title{
  position: relative;
  font-size: 35px;
  line-height: 42px;
  font-family: 'DIN', DIN;
  color: #222;
  margin-bottom: 3px;
}
.blog-single .blog-single-content .content-style-one .text p{
  margin-bottom: 41px;
}
.blog-single .blog-single-content .single-item .img-box{
  margin-bottom: 44px;
}
.blog-single .blog-single-content .single-item .meta{
  margin-bottom: 24px;
}
.blog-single .blog-single-content .sidebar-text{
  position: relative;
  margin-right: -50px;
  padding-left: 30px;
  top: 2px;
}
.blog-single .blog-single-content .content-text i:before{
  font-size: 36px;
  color: #4EA3D7;
  margin: 0px;
  margin-bottom: 0px;
}
.blog-single .blog-single-content .content-text .icon-box{
  position: relative;
  margin-bottom: 13px;
}
.blog-single .post-share-option{
  position: relative;
  margin-bottom: 52px;
  padding-bottom: 50px;
  margin-top: 42px;
  border-bottom: 1px solid #e5e5e5;
}
.blog-single .blog-single-content h3{
  font-weight: 500;
  margin-bottom: 16px;
}
.blog-single .post-share-option .share-text{
  position: relative;
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  margin-left: 13px;
}
.blog-single .post-share-option .post-share{
  position: relative;
  display: inline-block;
}
.blog-single .post-share-option .post-share li{
  display: inline-block;
  margin: 0px 2px;
}
.blog-single .post-share-option .post-share li a{
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border: 1px solid #e5e5e5;
}
.blog-single .post-share-option .post-share li a:hover{
  background: #4EA3D7;
  border: 1px solid #4EA3D7;
  color: #fefefe;
}
.blog-single .comment-area{
  position: relative;
  margin-bottom: 44px;
  padding-bottom: 17px;
  border-bottom: 1px solid #e5e5e5;
}
.blog-single .comment-area .single-comment{
  position: relative;
  padding: 0px 107px 0px 0px;
  margin-bottom: 26px;
}
.blog-single .comment-area .single-comment.replay{
  margin-right: 106px;
}
.blog-single .comment-area .single-comment.replay{
  padding: 0px 91px 0px 0px;
}
.blog-single .comment-area .single-comment .img-box{
  position: absolute;
  right: 0px;
  top: 7px;
  margin-bottom: 0px;
}
.blog-single .comment-area .single-comment .comment-title{
  position: relative;
  font-size: 18px;
  line-height: 28px;
  font-family: 'DIN', DIN;
  color: #222;
  margin-bottom: -2px;
}
.blog-single .comment-area .single-comment .comment-time{
  font-size: 13px;
  margin-bottom: 14px;
}
.blog-single .comment-form .title-text h3{
  margin-bottom: 23px;
}
.blog-single .comment-form textarea{
  position: relative;
  width: 100%;
  border: 1px solid #e5e5e5;
  padding: 15px 20px;
  height: 160px;
  margin-bottom: 22px;
  resize: none;
  transition: all 500ms ease;
}
.blog-single .comment-form .btn-one{
  border-radius: 0px;
  padding: 10px 32px 10px 32px;
}
.blog-single .comment-form input[type='text'],
.blog-single .comment-form input[type='email']{
  position: relative;
  width: 100%;
  height: 50px;
  border: 1px solid #e5e5e5;
  padding: 10px 20px;
  transition: all 500ms ease;
  margin-bottom: 30px;
}
.blog-single .comment-form .form-group{
  margin-bottom: 0px;
}
.blog-single .comment-form input[type='text']:focus,
.blog-single .comment-form input[type='email']:focus,
.blog-single .comment-form textarea:focus{
  border: 1px solid #4EA3D7;
}


/*** 

====================================================================
                        contact page
====================================================================

***/



.contact-section{
  position: relative;
  padding: 122px 0px 100px 0px;
}
.google-map-area {
  position: relative;
  margin-bottom: 90px;
  margin-left: -15px;
}
#contact-google-map {
  height: 570px;
  width: 100%;
}
.contact-section .contact-info{
  position: relative;
  border: 1px solid #e5e5e5;
  margin-right: -15px;
  border-right: none;
      text-align: right;
    padding: 102px 73px 16px 0px;
  height: 570px;
}
.contact-section .contact-info .single-info{
  position: relative;
  margin-bottom: 70px;
}
.contact-section .contact-info .icon-box{
  position: relative;
  margin-bottom: 21px;
}
.contact-section .contact-info .icon-box i:before{
  font-size: 42px;
  color: #4EA3D7;
  margin: 0px;
  transition: all 500ms ease;
}
.contact-section .contact-info .single-info:hover .icon-box i:before{
  color: #222;
}
.contact-section .contact-info h4{
  margin-bottom: 15px;
}
.contact-section input[type='text'],
.contact-section input[type='email']{
  position: relative;
  border-radius: 50px;
  height: 55px;
    text-align: right;
  margin-bottom: 30px;
  width: 100%;
  border: 1px solid #e5e5e5;
  padding: 10px 20px;
  transition: all 500ms ease;
}
.contact-section input[type='number']{
  position: relative;
  border-radius: 50px;
  height: 55px;
    text-align: right;
  margin-bottom: 30px;
  width: 100%;
  border: 1px solid #e5e5e5;
  padding: 10px 20px;
  transition: all 500ms ease;
}
.contact-section input[type='phone']{
  position: relative;
  border-radius: 50px;
  height: 55px;
    text-align: right;
  margin-bottom: 30px;
  width: 100%;
  border: 1px solid #e5e5e5;
  padding: 10px 20px;
  transition: all 500ms ease;
}
.contact-section input[type='password']{
  position: relative;
  border-radius: 50px;
  height: 55px;
    text-align: right;
  margin-bottom: 30px;
  width: 100%;
  border: 1px solid #e5e5e5;
  padding: 10px 20px;
  transition: all 500ms ease;
}
.contact-section input[type='text']:focus,
.contact-section input[type='email']:focus{
  border: 1px solid #4EA3D7;
}
.contact-section textarea{
  position: relative;
  width: 100%;
    text-align: right;
  border: 1px solid #e5e5e5;
  resize: none;
  height: 176px;
  padding: 20px;
  border-radius: 30px;
  margin-bottom: 22px;
  transition: all 500ms ease;
}
.contact-section .sec-title h2{
  margin-bottom: 41px;
}
@media screen and (device-aspect-ratio: 40/71) {
	.about-section .img-box:before {
    position: absolute;
    content: '';
    background: url(../site/images/about/about-shap.png);
    
    height: 406px;
    right: -115px !important;
    bottom: -60px;
    background-size: cover;
    background-repeat: no-repeat;
}
	
	
}
.lower-content{
	
	
}
.text-right{
	text-align: right !important ;
}
.html5-close-fullscreen{
	background-image: url(../site/images/lightbox-close.png)
}
.rtl{
	direction: rtl !important ;
}
.grand:hover{
	color: #F37124 !important
}
.wash-icon{
	max-width: 40%
}
.primary-color{
	color: #4EA3D7 !important
}
.col-centered {
   display: table !important;
    margin: 0 auto !important ;
    float: none !important ;
}
.fa-facebook2 {
  background: #3B5998;
  color: white;
  margin-top: 5px !important ;
      padding: 18px;
  font-size: 30px;
  width: 35%;
        border-radius: 50px;
  text-align: center;
  text-decoration: none;
 
}
.fa-facebook2:hover {
  background: #3B5998;
  color: white  ;
  margin-top: 5px !important ;
      padding: 18px;
  font-size: 30px;
  width: 100%;
        border-radius: 50px;
  text-align: center;
  text-decoration: none;
 
}
.i-am-centered {
    margin: auto;
    max-width: 300px;
}
.code-border{
        border-radius: 4px !important;
}
.center{
    text-align: center ;
}
.offers{
    color: #4EA3D7;
    font-size: 18px;
    float: left;
}
.catagories2{
    
    display: flex;
}
.text2{
    
    font-size: 20px;
     color: #4EA3D7;
    margin-left: 5px;
}
.primary {

     color: #4EA3D7;
}
.text-bold{
    
    font-weight: bold; 
    font-size: 15pt;
}
.center{
    
    display: table !important; 
    margin: 0 auto !important ;
}





 #map_canvas { 
            height: 100%;
        }    
#map_container{
  position: relative;
}
#map{
    height: 0;
    overflow: hidden;
    padding-bottom: 22.25%;
    padding-top: 30px;
    position: relative;
}


#oneordermap{
    
    width: 100%;
    height: 500px;
}

/*

add minus
*/

.qty .count {
    color: #000;
    display: inline-block;
    vertical-align: top;
    font-size: 20px;
    font-weight: 700;
    line-height: 22px;
    padding: 0 2px
    ;min-width: 35px;
    text-align: center;
}
.qty .plus {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: white;
        background-color: #4EA3D7;
    width: 25px;
    height: 25px;
    font: 25px/1 Arial,sans-serif;
    text-align: center;
    border-radius: 50%;
    }
.qty .minus {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: white;
    width: 25px;
        background-color: #4EA3D7;
    height: 25px;
    font: 25px/1 Arial,sans-serif;
    text-align: center;
    border-radius: 50%;
    background-clip: padding-box;
}

.minus:hover{
    background-color: #7d7e7e !important;
}
.plus:hover{
    background-color: #7d7e7e !important;
}
/*Prevent text selection*/
span{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
input{  
    border: 0;
    width: 2%;
}
nput::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input:disabled{
    background-color:white;
}
         
.qty{
    text-align: left;
}
.ltr{
    direction: ltr;
}
.counter{
        position: relative;
    display: inline-flex;
    width: 100%;
}
.counter li {
    
        position: relative;
    display: inline-block;

    width: 100%;
    color: #ffb400;
 
 
}
.center2{
    text-align: center;
}
.btn-tow-tabs{
        background: #fff;
    margin-bottom: 5px;
    color: #848484;
    padding: 8px 36px 8px 36px;
}
.single-column2{
        margin-bottom: 42px !important;
}
ol.progtrckr {
    margin: 0;
    padding: 0;
    direction: rtl;
    text-align: center;
padding-top: 20px;
    padding-bottom: 50px;
    list-style-type none;
}

ol.progtrckr li {
    display: inline-block;
    text-align: center;
    line-height: 3.5em;
}

ol.progtrckr[data-progtrckr-steps="2"] li { width: 49%; }
ol.progtrckr[data-progtrckr-steps="3"] li { width: 33%; }
ol.progtrckr[data-progtrckr-steps="4"] li { width: 24%; }
ol.progtrckr[data-progtrckr-steps="5"] li { width: 23%; }
ol.progtrckr[data-progtrckr-steps="6"] li { width: 16%; }
ol.progtrckr[data-progtrckr-steps="7"] li { width: 14%; }
ol.progtrckr[data-progtrckr-steps="8"] li { width: 12%; }
ol.progtrckr[data-progtrckr-steps="9"] li { width: 11%; }

ol.progtrckr li.progtrckr-done {
    color: black;
    border-bottom: 4px solid #4EA3D7;
}
ol.progtrckr li.progtrckr-todo {
    color: silver; 
    border-bottom: 4px solid silver;
}

ol.progtrckr li:after {
    content: "\00a0\00a0";
}
ol.progtrckr li:before {
    position: relative;
    bottom: -2.5em;
    float: left;
    left: 50%;
    line-height: 1em;
}
ol.progtrckr li.progtrckr-done:before {
    content: "\2713";
    color: white;
    background-color: #4EA3D7;
    height: 2.2em;
    width: 2.2em;
    line-height: 2.2em;
    border: none;
    border-radius: 2.2em;
}
ol.progtrckr li.progtrckr-todo:before {
    content: "\039F";
    color: silver;
    background-color: white;
    font-size: 2.2em;
    bottom: -1.1em;
}
.case1{
    
   position: relative;
    bottom: 3px;
}

/*radio*/
.news-section2{
    margin-bottom: 30px
}
